{% extends 'header.html' %}

{% block content %}
    <div class="container">

        <div class="latest-transfers">
            <div class="countries">
                <a href="/clubs/"> CLUBS </a>
                <a href="/latest/"> LATEST TRANSFERS </a>
                <a href="/players/"> PLAYERS </a>
                <a href="/u20/"> U-20 PLAYERS </a>
                <a href="./tryouts"> TRYOUTS </a>
                <a href="./stats.html"> STATS </a>
            </div>
        </div>
    </div>
{% endblock %}