{% extends "header.html" %}
{% block title %}
    <title>Latest-transfers</title>
{% endblock %}
{% block latest_active %}
	class="navActive"
{% endblock %}
{% block content %}
    <div class="nav">
        <h2>– LATEST TRANSFERS –</h2>
        <table class="content-nav">
            <thead>
            <tr>
                <td>#</td>
                <td>player</td>
                <td>from</td>
                <td>to</td>
                <td>
                    transfer fee, <br/>
                    mill. euro
                </td>
                <td>
                    transfer fee, <br/>
                    mill. euro, <br/>
                    by tft.com
                </td>
            </tr>
            </thead>
        </table>
    </div>
    <div class="latest-transfers">

        <table class="players" style="padding-top: 100px">
            {% for transfer in transferlar %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ transfer.player }}</td>
                    <td>{{ transfer.club1.nom }}</td>
                    <td>{{ transfer.club2.nom }}</td>
                    <td>{{ transfer.narx }}</td>
                    <td>{{ transfer.taxmin_narx }}</td>
                </tr>
            {% endfor %}
        </table>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae soluta sequi quia eos cupiditate rerum
            accusantium odit enim, expedita, architecto error dignissimos voluptatibus. Nisi illo, maiores fugit amet
            neque eveniet!</p>
    </div>
{% endblock %}
